<!DOCTYPE html>
<html>
  <head>
    <link href="static/style.css" rel="stylesheet">
    <h1 class="header_title">XZDESIGN</h1>
  <p><div align="center" >  
      <a href="\coments"><span class="header_button_not">Отзывы</span></a>
      <span class="header_button_now">Примеры</span>
      <a href="\contacts"><span class="header_button_not">Контакты</span></a>
    </div></p>
  </head>
  <body>
    <div class="f">
      <span class="column">
      <p><img src="static/img/2.jpg" align="center"> — описание</p>
      <p><img src="static/img/3.jpg" align="center"> — описание</p>
      <p><img src="static/img/4.jpg" align="center"> — описание</p></span>
      <span class="column"><p><img src="static/img/1.jpg" align="center"> — описание</p>
      <p><img src="static/img/5.jpg" align="center"> — описание</p>
      <p><img src="static/img/6.jpg" align="center"> — описание</p>
      <p><img src="static/img/7.jpg" align="center"> — описание</p></span>
    </div>
  </body>
</html>
